@import './fonts.css';

* {
  box-sizing: border-box;
}
body {
  /* background-color: rgb(119, 104, 106); */
  background: url('./../assets/default-bg.png') no-repeat;
  background-size: cover;
  overflow: hidden;
  /* background-position: inherit; */
  /* font-family: "Geneva", "Arial", "Helvetica", sans-serif; */
}
.backgroundMovie {
  height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__search {
  margin-left: 300px;
}
.nav .nav__apps {
  margin-right: 300px;
}
.nav .content-icon {
  position: relative;
  z-index: 2;
  outline: none;
  padding: 10px 20px 30px 20px;
}
.nav .imgBlue {
  position: absolute;
  display: none;
}
.nav .content-icon:focus .imgBlue{
  box-shadow: 0 0 14px 5px #018dbf;
  border-radius: 50%;
  position: absolute;
  display: block;
}

.topShadow {
  position: absolute;
  z-index: -2;
}
.leftShadow {
  float: left;
  position: absolute;
  top: 0;
}
.rightShadow {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
.bottomShadow {
  position: absolute;
  bottom: -2px;
}

.genres-list {
  overflow: hidden;
  max-height: 60px;
}

.genres-list > .genres-list__container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  position: relative;
  float: left;
  padding: 0 200px 0 200px;
  z-index: -1;
  margin: 0;
  list-style-type: none;
}

.genres-list li {
  width: 210px;
  margin: 10px;
  outline: none;
}
.genres-list p {
  vertical-align: middle;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: #c9c8c9;
  margin: 0;
  padding: 0;
}
.genres-list li:focus p {

  font-size: 42px;
  line-height: 0.8em;
}
.genres-list li:focus .borderBottom {
  margin-top: 5px;
  width: 100%;
  height: 10px;
  background-color: #2188b4;
  box-shadow: 0px 5px 13px 3px #018dbf;
  border-radius: 5px;

}

.movies-section {
  height: 100vh;
  display: none;
  flex-direction: column;
}
.movieImg-wrapper {
  width: 50%;
  height: 300px;
  margin: 20px 0px 0px 500px;
  display: flex;
  justify-content: center;
}
.movies-section .movieImg-wrapper__item {
  margin: 0 10px 0 10px;
}
.movies-section .movieImg-wrapper__item img {
  width: 170px;
  height: 270px;
  transform: scale(0.9);
}
.movies-section .movieImg-wrapper__item:focus {
  outline: none;
}
.movies-section .movieImg-wrapper__item:focus img {
  transform: scale(1.0);
}
.movies-section .movieImg-wrapper__item:focus .borderBottomMovie {
  margin-top: 5px;
  width: 100%;
  height: 10px;
  background-color: #2188b4;
  box-shadow: 0px 5px 13px 3px #018dbf;
  border-radius: 5px;
}
.movies-section .movieName {
  margin-top: 50px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #c9c8c9;
  font-size: 42px;
}
.movies-section .movieDescr {
  margin-top: 10px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: #c9c8c9;

}
.movies-section .movieDescr div {
  font-family: 'Arial';
  font-size: 24px;
  margin: 20px;
}
.movies-section .rating {
  line-height: 1.45em;
  text-align: center;
  width: 60px;
  height: 40px;
  border: 2px solid #bdbabc;
  border-radius: 4px;}
