@import './fonts.css';

* {
  box-sizing: border-box;
}
body {
  /* background-color: rgb(119, 104, 106); */
  background: url('./../assets/default-bg.png') no-repeat;
  background-size: cover;
  /* background-position: inherit; */
  /* font-family: "Geneva", "Arial", "Helvetica", sans-serif; */
}

/* #detective {
}
#fantasy {
}
#actionMovie {
}
#children {
}
#comedy {
}
#melodrama {
}
#adventure {
} */
.nav, .nav__menubar{
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
  align-items: center;
}

.nav  .content {
  position: relative;
}
.nav > .nav__offers > .img_active {
  position: absolute;
  display: none;
}
.nav > .nav__settings > .img_active {
  position: absolute;
  display: none;

}


.main-nav {
  width: 50%;
  justify-content: center;
}
.main-nav__content {
  margin: 10px 10px;

}
.main-nav__content > .img_active {
  position: absolute;
  display: none;
}

.leftShadow {
  float: left;
  position: absolute;
  top: 0;
}
.rightShadow > img {
  width: 30px;
  height: 600px;
}
.leftShadow > img {
  width: 30px;
  height: 600px;
}
.rightShadow {
  float: right;
  position: absolute;
  top: 0;
  right: 0;

}


.genres-list {
  /* margin: 0 7% 0 7%; */
  overflow: scroll;
  max-height: 100px;

}
.genres-list > .genres-list__container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  position: relative;
  float: left;
  padding: 0 200px 0 200px;
}
.genres-list > .genres-list__container > div {
  /* min-width: 190px;
  max-width: 210px; */
  width: 210px;
  margin: 10px;
}
.genres-list > .genres-list__container > div > p {
  vertical-align: middle;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.637);

}
/*
.genres__detective {
}
.genres__content_focused {
}
.genres__fantasy {
}
.genres__content {
}
.genres__actionMovie {
}
.genres__children {
}
.genres__comedy {
}
.genres__melodrama {
}
.genres__adventure {
} */
